header{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.logo-container{
  flex: 1;
  float: left;
}

.logo-container, .nav-links{
  display: flex;
}

.navbar {
  flex: 3;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
}

.nav-link{
  color: #40404e;
  font-size: 18px;
  text-decoration: none;
}
