.logo-container{
  flex: 1;
  float: left;
}

.logo-container, .nav-links{
  display: flex;
}

.container{
  padding: none;
  margin: none;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  width: 400px;
  float: right;
}

.nav-link{
  color: #40404e;
  margin-top: 3px;
  font-size: 13.5px;
  font-weight: 480;
  text-decoration: none;
}

.presentation{
  display: flex;
  height: 80px;
  width: 1370px;
  margin: auto;
  min-height: 80vh;
  /* background: pink; */
  flex-direction: column;
}

.product-description{
  align-items: flex-start;
  width: 600px;
  margin-top: 50px;
  margin-left: 40px;
  flex:1;
}
/* .email-collect{
  float: top;
  margin-top: 90px;
  flex: 1;
  padding: 10px 15px 10px 15px;
  font-size: 16px; 
  width: 180%;
  height: 150%;
  border-radius: 10px 10px 10px 10px;
  background: #dfdede;
} */

.description-text{
  margin-left: 40px;
  margin-top: 40px;
  width: 500px;
}

.more-info{
  display: flex;
}

.description-text h1{
    font-size: 48px;
    font-weight: 550;
    width: 100%;
    margin-left: 5px;
}

.description-text p {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 380;
  color: #46465c;
}

.main-image{
  width: 400px;
  height: 380px;
  margin-bottom: 100px;
  flex: 1;
}

.col1{
  display: flex;
}

.main-image img {
  margin-left: 30px;
}

.about-us-tag{
  align-items: center;
  /* margin-left: 310px;
  margin-right: 310px;
  margin-top: 100px; */
  justify-content: center;
  text-align: center;
  /* margin: 3%; */
  margin: 0 auto;

}

.about-us{
  width: 70%;
  margin: 0 auto;
  /* display: flex;
  margin-top: 250px;
  margin-bottom: 80px; */
  /* text-align: center; */
}

.student-info{
  text-align: center;
  width: 40%;
  display: inline-block;
  /* margin-left: 230px; */
  flex: 1;
  /* margin-right: 100px; */
  margin: 5%;
}

.student-info h1{
  /* width: 180%; */
}

.student-info p{
  margin-top: 20px;
  /* width: 180%; */
}

.alumni-info{
  text-align: center;
  width: 40%;
  display: inline-block;
  /* margin-left: 400px; */
  flex: 1;
  margin: 5%
}

.alumni-info h1{
  /* width: 180%; */
}

.alumni-info p{
  margin-top: 20px;
  /* width: 180%; */
}

.partners-tag{
  align-items: center;
  position: absolute;
  margin-left: 310px;
  margin-right: 310px;
  margin-top: 100px;
  width: 50%;
  text-align: center;
}

.partners{
  display: flex;
  margin-top: 250px;
  margin-bottom: 50px;
  
}

.mozlogo{
  margin: 50px 100px 100px 400px;
  height: 10vh;
}

.CAAlogo{
  margin: 20px 100px 100px 125px;
  height: 15vh;
}

.input-space{
  padding: 10px 24px;
  margin-left: 40px;
  width: 250px;
  height: 45px;
}

.req-acc-btn{
  width: 180px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #5CA0D3;
  border: none;
  margin-left: 20px;
}

form{
  display: flex;
}

.col2{
  /* background: lightgreen; */
}