.logo-container{
  flex: 1;
  float: left;
}

.logo-container, .nav-links{
  display: flex;
}

.container{
  padding: none;
  margin: none;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  width: 400px;
  float: right;
}

.nav-link{
  color: #40404e;
  margin-top: 10px;
  font-size: 13.5px;
  font-weight: 500;
  text-decoration: none;
}

.presentation{
  display: flex;
  height: 270px;
  width: 1370px;
  margin: auto;
  min-height: 270vh;
  flex-direction: column;
}

.product-description{
  align-items: flex-start;
  width: 600px;
  margin-top: 80px;
  margin-left: 40px;
  flex:1;
}

.description-text{
  margin-left: 40px;
  margin-top: 40px;
  width: 500px;
}

.more-info{
  display: flex;
}

.description-text h1{
    font-size: 48px;
    font-weight: 550;
    width: 100%;
    margin-left: 5px;
}

.description-text p {
  margin-top: 30px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 380;
  color: #46465c; 
}

.main-image{
  width: 400px;
  height: 380px;
  margin-bottom: 100px;
  flex: 1;
}

.col1{
  display: flex;
}

.col2{
  margin-top: 250px;
}

.main-image img {
  margin-left: 30px;
}

.about-us-tag{
  align-items: center;
  /* margin-left: 310px;
  margin-right: 310px;
  margin-top: 100px; */
  justify-content: center;
  text-align: center;
  /* margin: 3%; */
  margin: 0 auto;

}

.about-us{
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* display: flex;
  margin-top: 250px;
  margin-bottom: 80px; */
  /* text-align: center; */
}

.student-info{
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10%;
  /* background: yellowgreen; */
  display: flex;
  flex-direction: column;
}

.student-info h1{
  width: 50%;
}

.student-info p{
  margin-top: 25px;
  width: 50%;
  font-size: 18px;
}

.alumni-info p{
  margin-top: 25px;
  width: 50%;
  font-size: 18px;
}

.alumni-info h1{
  width: 50%;
}

.alumni-info{
  text-align: center;
  align-items: center;
  flex: 1;
  margin: 10%;
  /* background: #5CA0D3; */
  display: flex;
  flex-direction: column;
}

.partners-tag{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

.partners{
  display: flex;
  margin-top: 90px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 200px;
}

.logo1{
  flex:1;
  justify-content: center;
  align-self: center;
  margin-top: 25px;
}

.logo2{
  flex:1;
  margin-left: 350px;
  justify-content: center;
  align-self: center;
}

.input-space{
  padding: 10px 24px;
  margin-left: 40px;
  width: 250px;
  height: 45px;
}

.req-acc-btn{
  width: 180px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #67bdff;
  border: none;
  margin-left: 20px;
}

form{
  display: flex;
}

.email-collect{
  margin-top: 28px;
}
